*{
     margin: 0;
     padding: 0;
}
body{
     font-family: 'Aboreto', cursive;
     font-family: 'Alkatra', cursive;
     font-family: 'Anton', sans-serif;
     font-family: 'Josefin Sans', sans-serif;
     font-family: 'Kanit', sans-serif;
     font-family: 'Playfair Display', serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Ubuntu', sans-serif;
     font-family: 'Work Sans', sans-serif;
     border: #00a32a 2px;
}
.upper{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 100px;
}
.mainlogo{
     width: 25%;
     height: auto;
}
.navbar {
     display: flex;
     align-items: center;
     margin-left: 150px;
     justify-content: space-between;
}
.imglogo {
     width: 15%;
     height: auto;
     transition: transform 0.3s ease-in-out;
}
.apply,
.Team,
.projects,
.updates {
     display: flex;
     align-items: center;
     transition: color 0.3s ease-in-out;
     cursor: pointer;
}
.apply:hover .imglogo,
.Team:hover .imglogo,
.projects:hover .imglogo,
.updates:hover .imglogo {
     transform: scale(1.1);
}
.apply:hover,
.Team:hover,
.projects:hover,
.updates:hover {
     color: red;
}
.picture{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 70%;
     width: auto;
     background-color:  #f0f0f1;
     border-radius: 10%;
}

.vision {
     background: #f6f7f7;
     border: gray 4px;
     border-radius: 6px;
     width: 25em;
     margin: 5em 0 0 5em;
     padding: 2em;
       }
.vision h3 {
     font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
    }
.vision p {
    line-height: 1.5;
    }
.mission {
     background: #f6f7f7;
     border: gray 4px;
     border-radius: 6px;
     width: 25em;
     margin: 5em 0 0 5em;
     padding: 2em;
     align-items: center;
     justify-content: center;
       }
.mission h3 {
     font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
    }
.mission p {
    line-height: 1.5;
    }
.objectives {
     background: #f6f7f7;
     border: gray 4px;
     border-radius: 6px;
     width: 25em;
     margin: 5em 0 0 5em;
     padding: 2em;
     align-items: center;
     justify-content: center;
     float: right;

       }
.objectives h3 {
     font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
    }
.objectives p {
    line-height: 1.5;
    }
.content{
     display: flex;
}
.footer{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 20px;
     margin-bottom: 20px;
     background-color:#f6f7f7 ;
     border-radius: 5%;
     margin-top: 25px;
     justify-content: space-between;
      margin-right: 600px; 
     margin-bottom: 10px;
     margin-left: 600px;
     /* margin: 0 100px; */

}
.btn:hover{
     color: red;
}
.btn{
     background-color: gray;
     margin: 2px;
     padding: 2px;
     float: right;
     content:pointer;
     margin-left: 90%;
     width: 5%;
}
.copyright{
     justify-content: center;
     align-items: center;
     text-align: center;
}
